@font-face {
    font-family: 'Cinzel';
    src: url('./assets/fonts/Cinzel-Bold.woff2') format('woff2'),
        url('./assets/fonts/Cinzel-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cinzel';
    src: url('./assets/fonts/Cinzel-Black.woff2') format('woff2'),
        url('./assets/fonts/Cinzel-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cinzel';
    src: url('./assets/fonts/Cinzel-ExtraBold.woff2') format('woff2'),
        url('./assets/fonts/Cinzel-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cinzel';
    src: url('./assets/fonts/Cinzel-SemiBold.woff2') format('woff2'),
        url('./assets/fonts/Cinzel-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cinzel';
    src: url('./assets/fonts/Cinzel-Medium.woff2') format('woff2'),
        url('./assets/fonts/Cinzel-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Cinzel';
    src: url('./assets/fonts/Cinzel-Regular.woff2') format('woff2'),
        url('./assets/fonts/Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-Bold.woff2') format('woff2'),
        url('./assets/fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-Black.woff2') format('woff2'),
        url('./assets/fonts/Raleway-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-BlackItalic.woff2') format('woff2'),
        url('./assets/fonts/Raleway-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-ExtraLight.woff2') format('woff2'),
        url('./assets/fonts/Raleway-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-ExtraBoldItalic.woff2') format('woff2'),
        url('./assets/fonts/Raleway-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-BoldItalic.woff2') format('woff2'),
        url('./assets/fonts/Raleway-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('./assets/fonts/Raleway-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-Italic.woff2') format('woff2'),
        url('./assets/fonts/Raleway-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-ExtraLightItalic.woff2') format('woff2'),
        url('./assets/fonts/Raleway-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-LightItalic.woff2') format('woff2'),
        url('./assets/fonts/Raleway-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-Light.woff2') format('woff2'),
        url('./assets/fonts/Raleway-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-Medium.woff2') format('woff2'),
        url('./assets/fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-Regular.woff2') format('woff2'),
        url('./assets/fonts/Raleway-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-SemiBoldItalic.woff2') format('woff2'),
        url('./assets/fonts/Raleway-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('./assets/fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-Thin.woff2') format('woff2'),
        url('./assets/fonts/Raleway-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-MediumItalic.woff2') format('woff2'),
        url('./assets/fonts/Raleway-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Raleway';
    src: url('./assets/fonts/Raleway-ThinItalic.woff2') format('woff2'),
        url('./assets/fonts/Raleway-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Segoe UI';
    src: url('./assets/fonts/SegoeUI.woff2') format('woff2'),
        url('./assets/fonts/SegoeUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*{
    font-family: 'Raleway';
    box-sizing: border-box; 
}
body{
    background: #000 !important;
}
h1 , h2 , h3 , h4 , h5 , h6{
    font-family: 'Cinzel';
    color: #f1f9f2 !important;
}
p{
    color: #f1f9f2 !important;
}
/* Header */

.header {
    padding: 13px 0px;
}
.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
.hdr-row {
    display: flex;
    align-items: center;
}
.header .logo {
    width: 30%;
    text-align: center;
}
.header .hdrbtn {
    text-align: right;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.container-fluid {
    width: 100%;
    padding: 0 15px;
}
/* Header */

/* Banner */

.homebanner {
    height: 400px;
    background: url(./assets/img/banner.jpg) center no-repeat;
    background-size: cover;
    border-top: 1px solid #8c6816;
}
/* Banner */

/* Inner Section */

.simple-sec .img {
    width: 50%;
    padding: 0 15px;
}
.simple-sec .content-box {
    width: 50%;
    padding: 0 15px;
}
.simple-sec .img img {
    width: 100%;
}
.s-row {
    display: flex;
    align-items: center;
    margin: 0 -15px;
    border-bottom: 1px solid #8C6816;
    padding: 50px 0px;
}
.simple-sec h3 {
    font-size: 30px;
    line-height: 39px;
    font-weight: 500;
    margin: 0 0 25px;
}
.simple-sec p {
    font-size: 16px;
    line-height: 30px;
    margin: 0 0 20px;
}
.simple-sec p:last-child {
    margin: 0;
}
.simple-sec button {
    background: #F1F9F2;
    font-family: 'Cinzel';
    color: #000;
    font-size: 15px;
    line-height: 15px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
}
.roadmap {
    padding: 40px 0px;
}
.roadmap h2 {
    font-size: 39px;
    line-height: 51px;
    margin: 0 0 30px;
    text-align: center;
    font-weight: 600;
}
.roadmap .s-row {
    padding: 0;
    border: 0;
}
.roadmap span  {
    padding: 0 15px;
}
.roadmap  h3 {
    font-size: 30px;
    line-height: 30px;
    margin: 0;
    font-weight: 600;
}
.roadmap h5 {
    color: #7a7a7a !important;
    font-size: 15px;
    line-height: 21px;
    font-weight: 400;
    margin: 0;
}
.roadmap p {
    font-size: 15px;
    line-height: 28px;
    margin: 20px 0px 0px;
}
.roadmap h4 {
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
    margin: 0;
}
/* Inner Section */

/* Footer */

.footer {
    border-top: 1px solid #8C6816;
    padding: 20px 0px 50px;
}
.footer .copyryt {
    width: 50%;
}
.footer .sociallinks {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .copyryt p {
    margin: 0;
    text-align: center;
}
.footer .sociallinks li {
    margin-right: 25px;
}
.footer .sociallinks li:last-child {
    margin: 0;
}
.footer .sociallinks li a {
    color: #fff;
    font-size: 22px;
}
.footer .s-row {
    border: 0;
    padding: 0;
}
.footer .s-row {
    border: 0;
    padding: 0;
}
.footer .really {
    margin: 60px 0px 0px;
}
.footer .really p {
    margin: 0;
}

/* Footer */

 /* .authButton p {
    color: #21bf96 !important;
    margin-bottom: 0;
} */

.nativeBalanceText {
    margin-right: 10px;
}

.modalText {
    color: black !important;
    margin-bottom: 0;
}


/* MODAL */

.ant-modal .ant-modal-content {
    box-shadow: 0 0 10px #8C6816;
}
.ant-modal .ant-modal-header {
    background: #000;
    border-bottom: 1px solid #8C6816;
}
.ant-modal .ant-modal-title {
    color: #fff;
}
.ant-modal .ant-modal-close {
    color: #fff;
}
.ant-modal .ant-modal-close:hover {
    color: #fff;
}
.ant-modal .ant-card-body {
    background: #000;
}
.ant-modal .ant-card.ant-card-bordered {
    border: 0;
}
.ant-modal-body .ant-checkbox-wrapper {
    color: #fff;
}
.ant-modal-body .ant-form-item-label > label {
    color: #fff;
}
.ant-modal-body .ant-input {
    border-color: #8C6816;
    background: transparent;
    color: #fff;
}
.ant-modal-body .ant-input:hover , .ant-modal-body .ant-input[disabled]:hover{
    border-color: #8C6816;
}
.ant-modal-body .ant-input:focus , .ant-modal-body .ant-input-focused , .ant-modal-body .ant-input:focus {
    border-color: #fff;
    box-shadow: 0 0 0 0;
}
.ant-modal-body .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: #8C6816;
    background: transparent;
    color: #fff;
}
.ant-modal-body .ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-color: #fff;
    box-shadow: 0 0 0 0;
}
.ant-modal-body .ant-select:not(.ant-select-disabled):hover .ant-select-selector{
    border-color: #8C6816;
}
.ant-modal-body .ant-input[disabled] {
    border-color: #8C6816;
    background: transparent;
    color: #fff;
}
.ant-modal-body .ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: #8C6816;
    background: transparent;
    color: #fff;
}
.ant-modal-content .ant-radio-wrapper span {
    color: #fff;
}
.ant-modal .ant-radio-button-wrapper span {
    color: #fff;
}
.ant-modal .ant-modal-content .ant-radio-button-wrapper {
    background: #000000;
    border-color: #8C6816;
}
.ant-modal .ant-radio-button-wrapper:not(:first-child)::before , .ant-modal .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before{
    background: #8C6816;
}
.ant-modal .ant-input-number {
    border-color: #8C6816;
    background: transparent;
    color: #fff;
}
.ant-modal-content .ant-btn {
    background: #8C6816;
    border-color: #8C6816;
    height: initial;
    padding: 6px 25px;
}
.ant-modal-content .ant-input-number:hover {
    border-color: #8c6816;
}
.ant-modal-content .ant-btn-primary:hover, .ant-modal-content .ant-btn-primary:focus {
    background: transparent;
    border-color: #8C6816;
}
.ant-modal .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #8C6816;
    border-color: #8C6816 !important;
}
.ant-modal .ant-checkbox-inner {
    background-color: transparent;
    border: 1px solid #8C6816;
}
.ant-modal .ant-radio-disabled .ant-radio-inner {
    background-color: transparent;
    border-color: #8C6816 !important;
}
.ant-modal .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-modal .ant-checkbox:hover .ant-checkbox-inner, .ant-modal .ant-checkbox-input:focus + .ant-checkbox-inner {
    border-color: #8C6816;
}
.ant-modal .ant-checkbox-checked::after {
    border: 1px solid #8C6816;
}
.ant-modal .ant-radio-inner {
    background-color: transparent;
    border-color: #fff;
}
.ant-modal .ant-radio-inner::after {
    background-color: #8C6816;
}
.ant-modal .ant-radio-checked .ant-radio-inner {
    border-color: #8C6816;
}
.ant-modal .ant-radio-input:focus + .ant-radio-inner {
    box-shadow: 0 0 0 0;
}
.ant-modal .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active {
    color: #fff;
    border-color: #8C6816;
}
.ant-modal .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active::before {
    background-color: #8C6816;
}
.ant-modal .ant-radio-input:focus + .ant-radio-inner {
    border-color: #8C6816;
}
.ant-modal .ant-modal-content .ant-radio-button-wrapper-checked {
    border-color: #8C6816;
    background: #8C6816;
}
.ant-modal .ant-modal-content .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child {
    border-color: #8C6816;
}
.ant-modal .ant-modal-content .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):focus-within {
    box-shadow: 0 0 0;
}
.ant-modal .ant-modal-content .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    color: #8C6816;
    border-color: #8C6816;
}
.ant-modal input:-webkit-autofill, .ant-modal input:-webkit-autofill:hover, .ant-modal input:-webkit-autofill:focus, .ant-modal input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #000 inset !important;
    -webkit-text-fill-color: #fff !important;
}
.ant-modal .lastbtn {
    justify-content: flex-end;
}
.ant-modal .lastbtn .ant-form-item-control-input-content {
    display: flex;
    justify-content: flex-end;
}
.textline {
    color: #fff;
    margin-bottom: 24px;
    display: inherit;
}
.ant-modal .ant-input-number-handler-wrap {
    background: #8c6816;
}
.ant-modal .ant-input-number-handler-wrap {
    background: #8c6816;
}
.ant-modal .ant-input-number-handler-down {
    border-top: 1px solid #ffffff;
}
.ant-modal .anticon svg {
    color: #fff;
}
.ant-modal-body {
    background: #000;
    color: #fff;
}
.whitetext {
    color: #fff !important;
}
.whitetext + svg {
    stroke: #fff;
}
.explorer a {
    color: #fff;
}
/* MODAL */
.required:after {
    content:" *";
    color: red;
  }
.required{
    font-size: 10px;
    margin-left: 12px;
}